.bgBlack {
    background-color: black;
    margin-top: 3em;
    margin-bottom: auto;
    padding-top: 3em;
    padding-bottom: 3em;
}

.bgSpace {
    letter-spacing: 0;
    word-spacing: 0;
    font-size: 0;
}
